.card {
  position: relative;
  overflow: visible;
  padding: 10px;
  padding-top: 30px;
  padding-right: 50px;
  background-color: white;
  color: black;
  height: 250px;
  width: 350px;
 
}

.icon {
  position: absolute;
  top: rem(-20px);
  left: calc(95% - rem(30px));
}

.title {
font-size: 25px;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  line-height: 1;
}
.description{
  padding-top: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.icon1{
  left: calc(70% - rem(30px));
}
