.responsiveContainer {
  max-width: rem(300px);

  @media (min-width: em(400px)) {
    max-width: rem(400px);
  }

  @media (min-width: em(600px)) {
    max-width: rem(600px);
  }

}

.Paper {
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 10px -10px 30px #ffffff,
    -10px -10px 20px #dedede;
  color: black;

}

.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 1000;
  text-align: center;
  font-size: 30px;
}

.text {
  text-align: center;
  margin-top: 10px;
  font-size: 19px;
}