.responsiveContainer {
  max-width: rem(300px);

  @media (min-width: em(400px)) {
    max-width: rem(400px);
  }

  @media (min-width: em(600px)) {
    max-width: rem(600px);
  }

}

.Paper {
  background: rgba( 255, 255, 255, 0 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 30px );
-webkit-backdrop-filter: blur( 0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
filter: drop-shadow(1px 1px 2px gold);

}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 1000;
  text-align: center;
  font-size: 30px;
}

.text {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
}
.image {
  width: rem(376px);
  height: rem(356px);
 margin-left: 500px;
 margin-top: -400px;
 filter: drop-shadow(3px 2px 3px gold);

  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}
.Button
{
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  border-color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}
