.responsiveContainer {
  max-width: rem(300px);

  @media (min-width: em(400px)) {
    max-width: rem(400px);
  }

  @media (min-width: em(600px)) {
    max-width: rem(600px);
  }

}

.Paper {
  border-radius: 59px;
background: #ffffff;
box-shadow: inset 10px 10px 20px #dedede,
            inset -10px -10px 20px #ffffff;
  color: black;
  
}
.title {
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  font-weight: 1000;
  text-align: center;
}
.text{
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}